* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}
#lio {
	font-family: 'Roboto', sans-serif;
	background: #912b2b;
}
.dir {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    column-width: auto;
    top: 0%;
    left: 18%;
}
table {
    width: max-content;
}